@import twentyone.utils.Game
@(games: List[Game])

@main("Twenty One") {

    <h3>Games</h3>

    @if(games.isEmpty) {
        <b>No game yet</b>
    } else {
        <table class="table">
            <tr><th>ID</th><th>State</th><th>Players</th></tr>
            @for((game, gameId) <- games.zipWithIndex) {
                <tr>
                    <td><a href="/game/@gameId">@gameId</a></td>
                    <td>@game.state</td>
                    <td>@game.numberPlayers</td>
                    @if(game.state == Game.State.OpenToJoin) {
                        <form action="/join">
                            <input type="hidden", name="gameId", value="@gameId">
                            <td>Name <input type="text" id="join" name="name" required></td>
                            <td><input type="submit" value="Join game"></td>
                        </form>
                    }
                </tr>
            }
        </table>
    }
}
